<div class="row-fluid">
	<div class="span6 offset2">
		<h1>
			<br>
			ijust<br>
			called<br>
			tosay<br>
			iloveyou<br>
		</h1>

		</h1>
	</div>

	<div class="span4">
	  	<h2>
	 		<%= form_for(@user) do |f| %>

	 		<%= f.label :sendername, "Sender Name" %>
	 		<%= f.text_field :sendername %>

	 		<%= f.label :recipientname, "Recipient Name" %>
	 		<%= f.text_field :recipientname %>

	 		<%= f.label :recipientphone, "Recipient Phone Number" %>
	 		<%= f.text_field :recipientphone %>

	 		<br>
 
	 		<%= f.submit "Send it!", class: "btn btn-large btn-primary" %>

	 		<% end %>
  		</h2> 

	</div>
 
</div>